<div id="menubar">
  <ul>
    <li class="logo"><a href="/">Markup Editor</a> <span>v<%= app_version %></span></li>
    <li class="label"><span>Markup</span></li>
    <li class="switch"><a data="markdown" class="markup-switch selected" href="javascript:;">markdown</a></li>
    <li class="switch"><a data="textile" class="markup-switch" href="javascript:;">textile</a></li>
    <li class="switch"><a data="rdoc" class="markup-switch" href="javascript:;">rdoc</a></li>
    <li class="label" style="margin-left: 40px;"><span>Refresh</span></li>
    <li class="switch"><a data="300" class="delay-switch selected" href="javascript:;">300ms</a></li>
    <li class="switch"><a data="600" class="delay-switch" href="javascript:;">600ms</a></li>
    <li class="switch"><a data="1000" class="delay-switch" href="javascript:;">1000ms</a></li>
    <li class="html"><a href="#">Get HTML</a></li>
  </ul>
</div>
<div id="editor_wrapper">
  <div id="editor_input"><textarea id="content"><%= @content %></textarea></div>
  <div id="editor_slider"></div>
  <div id="editor_output"><div id="output"></div></div>
</div>

<div id="editor_dialog" title="HTML Content">
  <textarea></textarea>
</div>